*{
  margin: 0;
  padding: 0;
}

body{
  background: #e9e9e9;
}

.contenedor{
  width: 90%;
  margin: 15px auto;
}

.elemento{
  width: 220px;
  background: #fff;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
}

.elemento p{
  padding: 10px;
  font-size: 13px;
}
.elemento img{
  width: 100%;
}
